{% include head.html %}
{% include analytics.html %}
<div class="header">
	<div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
		<ul class="pure-menu-list">
			<li class="pure-menu-item"><a href="{{ site.url }}/#profile" class="pure-menu-link">Profile</a></li>
			<li class="pure-menu-item"><a href="{{ site.url }}/#portfolio" class="pure-menu-link">Portfolio</a></li>
			<li class="pure-menu-item"><a href="{{ site.url }}/#cv" class="pure-menu-link">CV</a></li>
			<li class="pure-menu-item"><a href="{{ site.url }}/#contact" class="pure-menu-link">Contact</a></li>
			<li class="pure-menu-item"><a href="{{ site.url }}/blog.html" class="pure-menu-link">Blog</a></li>
		</ul>
	</div>
</div>
