<!doctype html>
<html>
<body>
    <!-- Set the header for the website -->
	{% include menu.html %}

    <!-- Splash page -->
    <div class="splash-container">
        <div class="splash">
            <img src="img/profile.png" alt="Profile" class="splash-head">
            <h1 class="splash-subhead">René Scheele</h1>
            <p class="splash-subhead">
                MBA Graduate Student at ESADE Business School
            </p>
        </div>
    </div>

    <!-- Content -->
    <div class="content-wrapper">
        <!-- Profile -->
        <div class="content" id="profile">
            <div class="pure-g">
                <div class="l-box pure-u-sm-1 pure-u-md-1-3 pure-u-lg-1-8 topic-icon">
                    <a style="color:inherit" href="">
                        <i class="is-center material-icons" style="font-size: 50px">account_circle</i>
                    </a>
                </div>
                <div class="l-box pure-u-sm-1 pure-u-md-2-3 pure-u-lg-7-8">
                    <h1>Profile</h1>
                    <p>MBA Student and former consultant for mobile products and strategy at IBM with experience in leading engineering teams and delivering products to clients from the insurance industry. Focus on product management with a Master’s in Electrical and Electronic Engineering and Business from Imperial College London. Looking for opportunities in product management</p>
                </div>
            </div>
        </div>

        <!-- Portfolio -->
        <!-- IBM -->
        <div class="ribbon l-box-lrg pure-g" id="portfolio">
            <div class="l-box pure-u-sm-1 pure-u-md-1-2 pure-u-lg-2-5 portfolio-img img-box">
                <img alt="IBM Bluepostbox" class="portfolio-img" src="img/portfolio/ibm_ish.png">
            </div>
            <div class="l-box pure-u-sm-1 pure-u-md-1-2 pure-u-lg-3-5">

                <h2 class="content-head content-head-ribbon"><a style="color:inherit" href="https://www.ibm.com/us-en/">IBM Service Hub</a></h2>

                <p>The IBM Service Hub is a platform connecting insurance companies, their clients and health service providers. Over 70% of Germany’s private health insurers use services from the hub’s portfolio.</p>
                <p>As a mobile consultant I am the interface between our clients and the product team. I identify features, together with our clients, and discuss these with our development and product management teams before placing them on the product roadmap. I have led engineering teams to implement features and delivered over six apps to our clients. </p>
                <p>As a former member of the development team I prototyped our test automation to cut our time to market and to increase code quality. I have also modernized our tooling, introducing Git and Slack, to improve our collaboration.</p>
                <p>The screenshot shows the IBM Bluepostbox, one of the Service Hub’s mobile products. I developed parts of the app and led the introduction of the android app at our first client (Gothaer Lebensversicherung).</p>
            </div>
        </div>
        <!-- Lets Talk -->
        <div class="ribbon2 l-box-lrg pure-g">
            <div class="l-box pure-u-sm-1 pure-u-md-1-2 pure-u-lg-3-5">

                <h2 class="content-head content-head-ribbon"><a style="color:inherit" href="http://ltmessenger.com/">Let's Talk</a></h2>

                <p>Let’sTalk is a startup based in Santiago de Chile building an instant messaging solution to connect service providers with customers.</p>
                <p>I was Let’s Talk’s second engineering hire and prepared the web app for customer service operators for the launch, identifying, designing and implementing user-centric features (see screenshot of the web app). After the launch I received direct feedback from our users on newly introduced features. I used the feedback to tweak existing and find new features.</p>
                <p>I learned a lot from working closely with the CTO on a day to day basis. We discussed the company’s privacy policy and overall strategy.</p>
            </div>
            <div class="l-box pure-u-sm-1 pure-u-md-1-2 pure-u-lg-2-5 img-box">
                <img alt="Let's Talk Webapp" class="portfolio-img" src="img/portfolio/letstalk_webapp.png">
            </div>
        </div>
        <!-- Dialog -->
        <div class="ribbon l-box-lrg pure-g" id="portfolio">
            <div class="l-box pure-u-sm-1 pure-u-md-1-2 pure-u-lg-2-5 img-box">
                <img alt="Dialog's Cobra Tool" class="portfolio-img" src="img/portfolio/dialog_engineering.png">
            </div>
            <div class="l-box pure-u-sm-1 pure-u-md-1-2 pure-u-lg-3-5">

                <h2 class="content-head content-head-ribbon"><a style="color:inherit" href="https://www.dialog-semiconductor.com/">Dialog Semiconductor</a></h2>

                <p>Dialog Semiconductor designs power management microchips for mobile phones. Developing these chips needs extensive testing, which, due to the nature of batteries, is very time consuming.</p>
                <p>I build a tool for engineers to automate the data capture process and to allow live data analysis. I was the product manager, product owner and development team on this project and went through several Build-Measure-Learn cycles, collecting user feedback and improving the product iteratively.</p>
                <p>As of January 2017 the tool is still in use, showing that I have succeeded in building a meaningful product.</p>
            </div>
        </div>

        <!-- CV -->
        <div class="content" id="cv">
            <div class="pure-g">
                <div class="l-box pure-u-sm-1 pure-u-md-1-2 pure-u-lg-3-5">
                    <h1>Curriculum Vitae</h1>
                    <p>You can download my CV by clicking on the icon.</p>
                </div>
                <div class="l-box pure-u-sm-1 pure-u-md-1-2 pure-u-lg-2-5 topic-icon center">
                    <a style="color:inherit" href="./assets/Scheele_CV.pdf" target="_blank">
                        <i class="is-center material-icons" style="font-size: 50px">file_download</i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Contact -->
        <div class="content ribbon3" id="contact">
            <h2 class="content-head is-center">Contact me</h2>
            <div class="l-box">
                <p class="is-center">
                    I am happy to hear from you about exciting projects. Please don't hesitate to reach out.
                </p>
            </div>
            <div class="l-box pure-g is-center">
                <a class="pure-u-1-3" ></a>
                <a class="pure-u-1-3" href="https://www.linkedin.com/in/scheelerene" target="_blank"><i style="color: #2d3e50;" class="fa fa-3x fa-linkedin-square" aria-hidden="true"></i></a>
                <a class="pure-u-1-3" ></a>
            </div>
        </div>
    </div>
</body>
</html>
